@page "/login"
@layout LoginLayout

<PageTitle>TVS - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="10" lg="10" xl="10" xxl="10">
        <MudPaper Class="mud-width-full pa-0 d-flex" Style="border-radius: 8px; overflow: hidden;">
            <MudItem xs="12" sm="5" Style="background-color: #bf0603; text-align: center" Class="pa-8 d-flex justify-center align-center flex-column">
                <h1>Bem-vindo de volta!</h1>
                <p>Para manter-se conectado conosco, faça login com suas informações pessoais</p>
                <MudButton Variant="Variant.Outlined" Color="Color.Default">Entrar</MudButton>
            </MudItem>

            <MudItem xs="12" sm="7">
                <p>Conteúdo da segunda coluna</p>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>