@page "/"
@using global::Loja.Core.Models
@inherits HomePage

<div class="background-home-page">
    <div style="display: flex; flex-direction: column; width: 500px;">
        <section style="margin-bottom: 5px;"><p class="aproveite-background">APROVEITE JÁ</p></section>
        <section style="margin-bottom: 20px;">
            <h1 class="titulo-background">TVs Usadas com Qualidade e Preço Baixo!</h1></section>
        <section style="margin-bottom: 25px;">
            <p class="texto-background">Garanta já a sua TV usada em ótimo estado por um preço que cabe no seu bolso! Diversos modelos e tamanhos disponíveis. Aproveite antes que acabe!</p></section>

        <MudButton Href="/loja" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Style="width: 200px; height: 50px;">
            <span class="comprar-agora">COMPRAR AGORA</span> <MudIcon Icon="@Icons.Material.Filled.ArrowRight" class="ml-2" />
        </MudButton>
    </div>
    <img src="images/TVeditada.PNG" style="width: 40%;"/>
</div>