@inherits MainLayoutPage

<MudThemeProvider Theme="Configuration.theme"/>
<MudSnackbarProvider/>
<MudDialogProvider/>

<body>
<header class="cabecalho">
    <div class="logo">
        <NavLink href="/" class="nav-link">
            <img src="images/TVS%20ELETRÔNICA-Photoroom.png" alt="" width="150px">
        </NavLink>
    </div>

    <div class="pesquisa">
        <MudTextField @bind-Value="SearchTerm"
                      Placeholder="Filtrar..."
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Immediate="true" IconSize="Size.Medium" class="campo-busca">
        </MudTextField>
    </div>

    <div class="perfil">
        <NavLink href="/perfil" class="nav-link">
            <img src="images/vector-flat-illustration-grayscale-avatar-600nw-2264922221-Photoroom.png" alt="perfil" width="50px" />
        </NavLink>
        <NavLink href="/carrinho" class="nav-link">
            <img src="images/shopping-cart.png" alt="carrinho" width="30px" />
        </NavLink>
    </div>

</header>

<main>
    @Body
</main>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h2>TVS ELETRÔNICA</h2>
            <p>Qualidade e inovação para você.</p>
        </div>

        <div class="footer-links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Redes Sociais</h3>
            <div class="social-icons">
                <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 TVS ELETRÔNICA - Todos os direitos reservados.</p>
    </div>
</footer>
</body>
