@page "/carrinho"
@using Loja.Core.Models
@inherits CarrinhoPage

<div class="carrinho">
    @if (!CarrinhoItens.Any())
    {
        <img src="images/5073073-nenhum-item-no-carrinho-de-compras-.jpg" alt="nenhum item encontrado no carrinho" width="70vw"/>
    }
    else
    {
        <div style="display: flex;">
            <MudPaper Style="width: 30vw; margin-right: 5vw;">
                @foreach (var Itens in CarrinhoItens)
                {
                    <h4 style="padding: 1vw; text-align: start; justify-content: start">@Itens.Produto.Descricao</h4>
                    <hr class="custom-hr">
                    <MudCarousel ShowArrows="true" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                        @foreach (var imagem in Itens.Produto.Imagens)
                        {
                            var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                            <MudCarouselItem>
                                <img src="@imagemUrl" alt="sla" width="80%"/>
                            </MudCarouselItem>
                        }
                    </MudCarousel>
                    <hr class="custom-hr">
                    <MudCardContent  Style="text-align: start;">
                        <p style="text-decoration: line-through; color: gray;">De R$ @Itens.Produto.Preco.ToString("F2")</p>
                        <p style="font-size: 1.2em; font-weight: bold; color: black;">Por R$ @Itens.Produto.Preco.ToString("F2")</p>

                        <MudButton Color="Color.Primary" Variant="Variant.Filled" Style="margin-top: 10px; color: white">
                            Excluir do carrinho
                        </MudButton>
                    </MudCardContent>
                }
            </MudPaper>
        </div>
    }
    <div>
        <MudPaper>
            <h1>Valor total</h1>
        </MudPaper>
    </div>
</div>
