<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div style="display: flex; justify-content: center; align-items: center; height: 20vh; flex-direction: column;">
                        <p style="margin-top: 10px; font-size: 18px;">Carregando...</p>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <h1>Você não tem acesso a esta funcionalidade</h1>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Erro 404</h1>
                <p>Página não encontrada</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
