<div class="d-flex justify-center pb-8 pt-8">
    <img src="Images/logo.png" alt="Dima Logo" width="200"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/perfil" Match="NavLinkMatch.All">Meu Perfil</MudNavLink>
</MudNavMenu>

@code {

}