@using Dima.Web.Services
<div style="display: flex; justify-content: center; align-items: center">
    <MudTextField T="string"
                  @bind-Value="SearchTerm"
                  Immediate="true"
                  Placeholder="Pesquisar..."
                  Variant="Variant.Filled"
                  Margin="Margin.Dense"
                  @onkeypress="HandleKeyPress"
                  Class="campo-busca">
    </MudTextField>

    <MudButton @onclick="HandleMouseClick" Class="btn-lupa">
        <MudIcon Icon="@Icons.Material.Filled.Search" Color="Color.Secondary" />
    </MudButton>
</div>

@code
{
    public string SearchTerm { get; set; }
    
    [Inject] public SearchService SearchService { get; set; } = null!;
    
    public void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchService.SearchTerm = SearchTerm;
        }
    }
    
    public void HandleMouseClick()
    {
        SearchService.SearchTerm = SearchTerm;
    }
}
